<div class="row">
  <div class="col-md-6">
    <h1>Registro</h1>
    <form>
      <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" id="name" ng-model="name">
        <!--p class="help-block">Help text here.</p-->
      </div>
      <div class="form-group">
        <label for="surname">Apellidos</label>
        <input type="text" class="form-control" id="surname" ng-model="surname">
        <!--p class="help-block">Help text here.</p-->
      </div>
      <div class="form-group">
        <label for="email">email</label>
        <input type="1mailLogin" class="form-control" id="email" ng-model="email">
        <!--p class="help-block">Help text here.</p-->
      </div>
      <div class="form-group">
        <label for="pass">Password</label>
        <input type="password" class="form-control" id="pass" ng-model="pass">
        <!--p class="help-block">Help text here.</p-->
      </div>
      <button class="btn btn-primary" type="button" name="button" ng-click="register()">Registrar</button>
    </form>
  </div>
  <div class="col-md-6">
    <h1>Login</h1>
    <form>
      <div class="form-group">
        <label for="mailLogin">email</label>
        <input type="email" class="form-control" id="mailLogin" ng-model="mailLogin">
        <!--p class="help-block">Help text here.</p-->
      </div>
      <div class="form-group">
        <label for="passLogin">Password</label>
        <input type="password" class="form-control" id="passLogin" ng-model="passLogin">
        <!--p class="help-block">Help text here.</p-->
      </div>
      <button class="btn btn-primary" type="button" name="button" ng-click="loginUser()">Entrar</button>
    </form>
  </div>
</div>
